body {
  padding-top: 40px;
}

#basket {
  background: #080808;
  color: #fff;
}

.item {
  margin-bottom: 50px;

  span.label {
    position: relative;
    top: -3px;
  }

  .caption {
    position: relative;
    height: 100%;
    padding-bottom: 35px;
    div {
      position: absolute;
      bottom: 0;
    }
  }

  .add-basket {
    width: 100%;
  }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

