body {
    padding-top: 40px;
}

.item span.label {
    position: relative;
    top: -3px;
}

#basket {
    background: #080808;
    color: #fff;
}

.add-basket {
    width: 100%;
}

.item {
    margin-bottom: 50px;
}

.item .caption {
    position: relative;
    height: 100%;
    padding-bottom: 35px;
}

.item .caption > div{
    position: absolute;
    bottom: 0px;
}

.basket > .row {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.basket .col-price {
    font-size: 1.4em;
    position: relative;
    top: 25px;
}

.basket .total {
    padding: 35px 50px;
    text-align: right;
}

.basket .total strong {
    font-size: 1.6em;
}

.basket .total strong span {
    color: #CC3434;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}