{% extends 'kai/base.html' %}

{% block title %}
    Order placed
{% endblock title %}

{% block content %}
{% if not processed or processed == False %}
    <div class="page-header">
        <h1>Error</h1>
    </div>

    To place your order go to <a href="{% url 'menu:basket' %}">your basket</a>.
{% elif processed == True %}
    <div class="page-header">
        <h1>Done
            <small>Your order has been placed!</small>
        </h1>
    </div>
    <p><strong>Estimated pickup time:</strong> {{ time }}</p>
    <p><strong>Your order reference:</strong> {{ ref_id }}</p>
    <p><strong>Your total:</strong> {{ total }}$</p>

{% endif %}

{% endblock content %}
